<html>
<head>{% load static %}
<link rel="stylesheet" href="{% static 'css/rent.css'%}">
</head>
<body>
    <div class="t_frame">
        <a class="cash" href="#">SWIFTCASH</a>
        <nav class="nav">
        <a href="/select/">HOME</a>
        <a href="/LS/">LOG-OUT</a>
        <a href="/contact/">CONTACT US</a>
        </nav>
    </div><br><br><br>

<h2>Pay Rent Using Credit Card..</h2><hr>
<br>
<div class="content">
<div><a href="/house_rent" >House Rent</a></div><br><br>
<div><a href="/shop_rent">Shop Rent</a></div><br><br>
<div><a href="/social_main">Social Maintenance</a></div><br><br>
<button id="a" style="width: 80px;height: 30px;"><a href="/select" >BACK</a></button>

</div>
</body>
</html>