* {margin:0px;padding:0px;box-sizing:border-box;}
a{text-decoration: none;color: #fff;}
body{background:linear-gradient(to right,#3a7bd5,#3a6073);font-family:"Raleway",sans-serif;}



 .popup2{margin-top: 150px;margin-left: 90px;height: 550px;width: 600px;background-color: #fff;}


.popup2 .form select,
.popup2 .form input[type="text"],
.popup2 .form input[type="date"],
.popup2 .form input[type="password"],
.popup2 .form input[type="email"]{margin-top:15px;display:block;width:500px;padding:10px;outline:none;
     border:1px solid #aaa;border-radius:5px;margin-left: 30px;margin-top: 10PX;cursor: pointer;}

button{width:100px;height:40px;border:none;outline:none;font-size:16px;background:rgb(0, 0, 0);
     color:#f5f5f5;border-radius:10px;cursor:pointer;margin-top:0px;margin-left: 300px;}
#b{width:100px;height:40px;border:none;outline:none;font-size:16px;background:rgb(0, 0, 0);
     color:#ffffff;border-radius:10px;cursor:pointer;margin-top:-40px;margin-left:180px;}